@define-color main #002B36;
@define-color secound #647A82;
@define-color text #FFF;
* {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0);
}
window#waybar.hidden{
    opacity: 0.2;
}

#workspaces {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 4px;
    background-color: @secound;
}
#workspaces button.active {
    background-color: @main;
    border-radius: 10px;
}
#workspaces button {
    background-color: transparent;
    color: @text;
}

.modules-right{
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 4px;
    color: @text;
    background-color: @secound;
}
.modules-right * {
    padding: 0px 20px;
}
.modules-right > :nth-child(even) {
  background-color: @main;
  border-radius: 10px;
  color: @text;
}
